<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="MernisIslemleriSoapBinding">
          <textMessageEncoding messageVersion="Soap11" />
          <httpTransport />
        </binding>
        <binding name="BvysIslemleriSoapBinding">
          <textMessageEncoding messageVersion="Soap11" />
          <httpTransport />
        </binding>
        <binding name="BvysIslemleriSoapBinding1">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://tckk/BvysIslemleri':    -->
          <!--    <wsdl:binding name='BvysIslemleriSoapBinding'>    -->
          <!--        <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">..</sp:SupportingTokens>    -->
          <textMessageEncoding messageVersion="Soap11" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://172.29.72.11:8180/merveys-kayit-ejb/MernisIslemleri/MernisIslemleri"
        binding="customBinding" bindingConfiguration="MernisIslemleriSoapBinding"
        contract="B_Kayit.MernisIslemleriWSInt" name="MernisIslemleriPort" />
      <endpoint address="http://172.29.72.11:8180/merveys-kayit-ejb/BvysIslemleri/BvysIslemleri"
        binding="customBinding" bindingConfiguration="BvysIslemleriSoapBinding"
        contract="BVYS_Ser.BvysIslemleriWSInt" name="BvysIslemleriPort" />
      <!--<endpoint address="http://SRVAPASKAY01.mernis.test:8180/merveys-kayit-ejb/BvysIslemleri/BvysIslemleri"
        binding="customBinding" bindingConfiguration="BvysIslemleriSoapBinding1"
        contract="BVYS_Ser.BvysIslemleriWSInt" name="BvysIslemleriPort1" />-->
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>